* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
/* shared */
i {
  color: hsl(292, 16%, 49%);
}
/*  */
body {
  background-color: hsl(275, 100%, 97%);
  color: hsl(292, 42%, 14%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container {
  width: 65%;
  height: auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 2px;
  padding: 20px;
}
header {
  font-size: 2rem;
  display: flex;
  font-weight: 700;
}
header i {
  margin-right: 20px;
}
.que-and-ans {
  border-bottom: 1px solid rgb(240, 232, 232);
}
.question {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.question:hover {
  cursor: pointer;
  font-size: 1.4rem;
}

/* answer-hidden should be the default state */
.answer-hidden {
  padding: 10px 0;
  opacity: 0.5;
  display: none;
}
.answer-displayed {
  display: block;
}
@media (min-width: 576px) {
  .main-container {
    max-width: 500px;
  }
}
